/* Sidebar */

.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0; /* hug top */
    left: 0; /* hug left*/
    overflow: hidden; /* disable scroll*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.cn {
    padding-right: 16px;
    border-right: 1px solid #393e46; 
}
.sidenavElem {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
